header {
  background-color: #482882;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
h1 {
  color: white;
  padding-top: 10px;
  padding-left: 300px;
  /* padding: 300px; */
}

.side-bar {
  position: sticky;
  background-color: #6638ba;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
}
.logo {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  padding-top: 15px;
  margin: 11%;
  padding-left: 5px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover {
  background: #e0e0e058;
}
a {
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}
/* a:hover {
  color: yellow;
  text-decoration: none;
} */
body {
  background-color: rgb(241, 239, 239);
  display: flex;
  justify-content: center;
  align-content: center;
}
main {
  padding: 10px;
}
h2 {
  align-content: center;
}
.form-section {
  display: none;
  background-color: rgb(255, 252, 252);
  border-radius: 6px;
  /* width: 500px; */
  text-align: center;
  padding: 10px;
  flex-direction: column;
}
.input-group {
  display: flex;
  align-items: center;
}
label {
  display: flex;
  width: 160px;
  padding-left: 20px;
}

input {
  /* padding-left: 125px; */
}
.form-section:target {
  display: block;
  margin-top: 180px;
}

footer {
  background-color: #482882;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
p {
  color: white;
  text-align: center;
}
